<style>
    .contain h1{
        font-size: x-large;
        background-color: chartreuse;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 2%;
    }
    form {
	    text-align: center;
	    width: 50%;
	    margin: 0 auto;
    }

    input,textarea {
        font-family: Lucida Calligraphy;
        font-size: 25px;
	    display: block;
	    width: 100%;
	    border: 0;
        padding: 10px 5px;
        background: white no-repeat;
        background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
        background-size: 0 2px, 100% 1px;
        background-position: 50% 100%, 50% 100%;
        transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

    }

    input:focus,
    textarea:focus{
        background-size: 100% 2px, 100% 1px;
        outline: none;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
</style>


<section class="hero is-primary">
    <div class="hero-body">
        <div class="contain">
            <h1 class="title">
                Dear Diary
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <form method="POST" action="{% url 'add' %}">
            {% csrf_token %}
            <div class="field">
             <div class="control">
                {{ form.text }}
             </div>
            </div>
             <div class="field is-grouped is-grouped-right">
                <div class="control"><br>
                   <button class="glow-on-hover">Submit</button>
                </div>
             </div>
        </form>
    </div>
</section>
<footer class="footer">
</footer>